*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background: #d1dcde;
  font-family:Arial, sans-serif;
  line-height:1.6;
  color:#241f1f;
  margin:0;
}
header{
  background: #3498b1;
  color:white;
  padding: 1rem 0;
}
.nav-list{
  display:flex;
  justify-content:center;
  list-style:none;
  gap:1rem;
}
h2{
  margin-top:2rem;
}
a{
  color:black;
  text-decoration:none;
}
a:hover{
  color:blue;
  font-size:1.05rem;
  text-decoration:underline;
}
.nav-list a{
  color:white;
  text-decoration:none;
}
.nav-list a:hover{
  text-decoration:underline;
}
.icon{
  width:1rem;
  height:1rem;
}
h2, h3{
  text-align:center;
}
p{
  margin-left: 3rem;
}
li{
  margin-left:4rem;
}
main{
  padding: 2rem;
}

#about, #projects, #contact{
  margin-bottom: 2rem;
}

.projects-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap:1rem;
}

.project-card{
  background:#cacaca;
  padding:1rem;
  border:1px solid #d1dcde;
  border-radius:5px;
  text-align:center;
}
.iituimage{
  float: right;
  margin-left: 30px;
  max-width: 200px;
}
footer{
  background:#333;
  color:#837575;
  text-align:center;
  padding:1rem 0;
  margin-top:2rem;
}

@media(max-width: 768px){
  .nav-list{
    flex-direction:column;
    align-items:center;
  }

  .projects-grid{
    grid-template-columns: 1fr;
  }
  .icon{
  width:1rem;
  height:1rem;
}
.iituimage{
  float: right;
  margin-left: 30px;
  max-width: 200px;
}
}
